body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;

}

header nav{
    background-color: rosybrown;
    display: flex;
    align-items: center;

}
header nav{
    position: fixed;
    top: 0;
    width: 100%;
}
header .anchor{
    position: absolute;
    right:15px;
}
header a{
    text-decoration: none;
    color: black;
}
header img {
    height: 60px;
    width: 60px;
}

footer {
    background-color: rosybrown;
    display: flex;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
footer a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
footer p{
    position: absolute;
    left: 44%;
    /* float: center; */
    font-size: 10px;
}
footer .logo{
    position: absolute;
    right: 10px;
}
footer img {
    height: 20px;
    width: 22px;
}