article{
    height: 800px;
    display: flex;
    flex-direction: column;
}
article .anchor{
    text-align: center;

}
article .anchor a{
    text-decoration: none;
    color: black;
    /* margin-bottom: 50px; */
}
article .search form input{
    width: 400px;
    border: 1px solid white;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    outline: none;
}
article img{
    height: 150px;
    width: 150px; 
}
article .search{
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
article .cards{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-left: 15%;
    margin-right: 15%; */

}
article .cards .card{
    position: relative;
  padding: 4% 4% 4% 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
}

article .cards .card img{
    border-radius: 25px;
    
    
  }
  article .cards .card .image{
    box-shadow: 10px 10px 10px grey;
    
    
  }
.middle{
    position: absolute;
    top: 50%;
    left: 40%;
    opacity: -1;
    margin: auto;
}
.middle .text{
    margin: auto;
    color:  #f1f1f1;
}
article .cards .card:hover .middle{
    opacity: 1;
}
article .cards .card:hover .image{
    /* opacity: 0.5; */
    filter: brightness(40%);
}